@charset "UTF-8";


/*
1. display
2. overflow
3. float
4. position
5. z-index
6. width & height
7. margin & padding
8. border
9. font
10. background
11. etc (color, text-decoration, clear, text-indent...)
background: bg-color, bg-image, position // bg-size, bg-repeat, bg-origin, bg-clip, bg-attachment, initial|inherit;
font-style > font-variant > font-weight > font-size > line-height > font-family
*/


body {
    /*height: 1000px;*/

}


/*************************************************
                        HEADER
**************************************************/
#header {

}


/*************************************************
                   SECTION
**************************************************/

section {
    width: 100%;    height: 100%;
    background-color: red;
}

.navbar {
    height: 100%;
    background-color: blue;
}
    .navbar ul {
        list-style: none;
        margin-top: 4rem;
        padding: 0;
    }
        .navbar ul li {
            margin-top: 4rem;
            text-align: center;
        }
        .navbar ul img {
            width: 180px;    height: 20%;
        }




.contents {
    height: 100%;
    background-color: lightgreen;
}
    .contents #left {
        height: 100%;
        background-color: yellow;
    }
    .contents #center {
        height: 100%;
        background-color: yellow;
    }
        .card-common {
            overflow: hidden;
            width: 23%;     height: 40%;
            margin: 2rem 0 0 1.6rem;
            border-radius: 1rem;
            background-color: cyan;
        }
            .prof-img {
                overflow: hidden;
                width: 80%;     height: 60%;
                margin: 2rem 0 2rem 1.8rem;
                padding: 0;
                border-radius: 50%;
            }
                .prof-img img {
                    width: 100%;
                    background-size: contain;
                }
            .f-img {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 6rem;
            }
                .f-img div {
                    overflow: hidden;
                    border-radius: 1rem;
                }
                    .f-img div img {
                        border-radius: 1rem;
                    }
            .prof-article {
                height: 10%;
                padding: 0;
                text-align: center;
            }
            .prof-options {
                /*padding: 0;*/
            }
                .prof-options div {
                    padding: 0 0 0 1rem;
                }





    .contents #right {
        height: 100%;
        background-color: white;
    }
        .right-wrap {
            overflow: hidden;
            margin-top: 5rem;
        }
        .form-group {
            width: 100%;
        }
            .lb-ctrl {
                width: 30%;
                margin: 2rem 4rem 0 0;
            }






.sit-box {
    height: 100%;
    background-color: grey;
}


/*************************************************
            sit-panel;
**************************************************/

#sit-panel {
    background-color: lightgreen;
    height: 100%;
}
