@charset "UTF-8";



body {
    /*height: 1000px;*/
}
.contents-index {
    margin: 0 0 6rem 0;      padding: 0;
}
.video_container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
    .video_container video {
        min-width: 100%;
        min-height: 100%;
    }
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
}
.container {
    position: relative;
}

/***
button
***/
@default_color: #000;
@primary_color: #3498db;
@success_color: #2ecc71;
@info_color: #81cfe0;
@warning_color: #f39c12;
@danger_color: #c0392b;

.btn{
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 17px;
    border: none;
    border-radius: 2px;
    transition : color .2s linear, background-color .2s linear;
}
    .btn-default {
        color: #000;
        background-color: @default_color;
        border: 1px solid darken(@default_color, 10%);
    }
    .btn-border{
        border-color: @default_color;
        color: #D8D8D8;
    }
    .btn-round{
        border-radius: 40px;
    }

/*************************************************
                        HEADER
**************************************************/
#header-wrap h2 {
    margin-left: 4rem;
}


/*************************************************
                        SECTION
**************************************************/

section {
    overflow: hidden;
    width: 100%;    height: auto%;
    background-color: red;
}

.navbar {
    height: 100%;
    border-radius: 1rem;
    background-color: blue;
}
    .navbar ul {
        list-style: none;
        margin-top: 4rem;
        padding: 0;
    }
        .navbar ul li {
            margin-top: 4rem;
            text-align: center;
        }
        .navbar ul img {
            width: 180px;    height: 20%;
        }




.contents {
    /*height: 100%;*/
    /*background-color: lightgreen;*/
}
    .contents #left {
        height: 100%;
        background-color: yellow;
    }
    .contents #center {
        /*height: 100%;*/
        border-radius: 1rem;
        background-color: yellow;
    }
        .card-common {
            overflow: hidden;
            width: 23%;     height: 36%;
            /*margin: 0rem 0 0 1rem;*/
            border-radius: 1rem;
            /*background-color: cyan;*/
                /*border: 1px solid black;*/

        }
            .prof-img {
                overflow: hidden;
                width: 80%;     height: 50%;
                margin: 1rem 0 0 2rem;
                padding: 0;
                border-radius: 50%;
            }
                .prof-img img {
                    width: 100%;    height: auto;
                    background-size: contain;
                }
                .f-img div {
                    overflow: hidden;
                    border-radius: 1rem;
                }
                    .f-img div img {
                        border-radius: 1rem;
                    }
            .prof-article {
                height: 10%;
                margin: 2rem 0 2rem 0;
                padding: 0;
                text-align: center;
            }
            .prof-options {
                padding: 0;
            }
                .prof-options div {
                    padding: 0 0 0 0;
                }


/**
    index
**/
.index-btn-ctrl {
    margin-bottom: 20rem;
    width: 50%;
}
    .index-input input {
        border-radius: 10%;
    }

/**
    dashboard
**/

.contents-maps {
    overflow: hidden;
    height: 40%;
    margin-top: 4rem;
    border-radius: 1rem;
    background-color: white;
}
.chart {
    overflow: hidden;
    height: 30%;
    margin: 2rem 0 4rem 0;
    border-radius: 1rem;
    /*background-color: black;*/
}
.chart-1 {
    overflow: hidden;
    height: 40%;
    margin: 2rem 0 4rem 0;
    border-radius: 1rem;
}
.db-main {
    overflow: hidden;
    /*padding: 0;*/
}
    .db-card {
        overflow: hidden;
        height: 20%;
        margin: 4rem 2rem 0 4rem;
        padding: 3rem;
        border-radius: 1rem;
        text-align: center;
        background-color: lightgreen;
    }
        .db-card i {
            margin: 0 2rem 2rem 0;
        }
        .db-card p {
            font-size: 22px;
        }
        .db-card span {
            text-align: center;
            font-size: 26px;
        }














/*************************************************
            sit-panel;
**************************************************/

#sit-panel {
    background-color: lightgreen;
    height: 100%;
}
.sit-box {
    height: 100%;
    border-radius: 1rem;
    background-color: lightgrey;
}
    .sit-bubble {
        margin-bottom: 2rem;
        border: 1px solid red;
        border-radius: 1rem;
    }
    .sit-icon {
        padding: 0;
        margin-top: 1rem;
    }





/******
index
*******/
.index-header {
    /*background-color: red;*/
}

.contents-index {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.index-form {
    padding: 0;
}
.lb-index-ctrl {
    width: 10%;
    margin: 2rem 1rem 0 2rem;
}
    .form-group {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-left: 2rem;
    }
    .btn-group {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 2rem 0 2rem 0;
    }


/**
    hero_modi
**/
.modi-chart-box {
    margin-top: 4rem;
}
.modi-chart-1 {
    background-color: green;
    height: 20%;
    /*margin: 20% 1rem 20% 0;*/
    padding: 2rem;
}
    .modi-chart-1 img,
    .modi-chart-2 img {
        position: absolute;
        top: 0;     left: 0;
        width: 100%;
        height: auto;
    }
.modi-chart-2 {
    background-color: lightgreen;
    height: 20%;
    /*margin: 20% 6rem 20% 0;*/
}
    .form-container {
        margin: 4rem 0 0 0;
    }
        .form-control {
            margin: 0 0 1rem 0;
        }
        .lb-ctrl {
            font-size: 20px;
            margin-left: 2rem;
        }
        .from-group {
            display: flex;
            justify-content: center;
            align-items: center;
        }
.modi-middle {
    margin-top: 4rem;
    padding: 0;
    background-color: lightgreen;
}
.hero-modi-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    margin-top: 1rem;
}
    .btn-size {
        display: flex;
        justify-content: center;
        align-items: center;
    }

/**
    profile
**/

.swiper-wrapper {
    height: 100%;
}
.swiper-slide {
        width: 100%;
        height: 36%;
    }


/**
    hero_profile
**/

.paral-img {
    height: 400px;
    margin-bottom: 4rem;
    background-image: url(../images/hero/large/lg-003cap_com_crd_01.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-f-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 4rem;
            }
.cont-list {
    margin: 4rem 0 0 8rem;
    border: 1px solid red;
}
    .cont-list div {
        border: 1px solid blue;
    }
    .stat-up {
        font-size: 18px;
        font-weight: bold;
    }
.desc-char {
    margin: 4rem 0 0 0;
}
.hero-profile-chart {
    margin-top: 4rem;
    height: 280px;
}
.embed-responsive {
    height: 830px;
    margin: 4rem 0 4rem 0;
}


/**
    register
**/

.reg-form-wrap {
    text-align: center;
}
    .reg-form-wrap span {
        margin: 0 0 2rem 0;
    }
    .reg-form-sel {
        margin-top: 2rem;
    }

/**
    register - idproc
**/
.idproc-sp {
    margin-top: 2rem;
}

/**
    login
**/
.login-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/shield_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.login-form {
    background-color: white !important;
/*    opacity: 0.8;
    filter: alpha(opacity=50);*/
}
